<ion-view style="" id="page6" title="Cómo jugar">
    <ion-content class="has-header" padding="true">
        <div>
            <p>
                <strong>Baraja para jugar al Mus</strong>
                <br>La baraja española de 40 cartas.</p>
            <p>
                <strong>Número de Jugadores</strong>
                <br>El Mus se juega entre 4 jugadores en 2 parejas, sentándose los compañeros uno frente a otro.</p>
            <p>
                <strong>Orden y valor de las cartas</strong>
            </p>
            <p>El orden de las cartas, de mayor a menor, es el siguiente: “rey y tres”, caballo, sota, siete, seis, cinco, cuatro y “dos y as”.</p>
            <p>El valor de cada una es: Rey, Tres, Caballo y Sota valen 10 puntos y el resto el valor que representan. El Dos cuenta como un As y vale un punto.</p>
            <p>
                <strong>Reparto de cartas</strong>
                <br>De una en una, 4 a cada jugador.</p>
            <p>
                <strong>Jugadas del Mus</strong>
                <br>Grande:Consiste en tener cartas lo más altas posible, según su orden.</p>
            <p>Chica: Jugada inversa a la anterior, consiste en tener cartas lo más bajas posible.</p>
            <p>Pares: Es tener dos o más cartas iguales.</p>
            <p>Par: si sólo se tienen 2 cartas iguales.</p>
            <p>Medias: cuando se tienen 3 cartas iguales.</p>
            <p>Duples: consiste en tener 2 parejas.</p>
            <p>Juego: Se dice que un jugador tiene juego cuando el valor de sus cartas suma más de 30.</p>
            <p>Punto: La suma del valor de las cartas es menor a 31.</p>
            <p>
                <strong>Vocabulario del Mus</strong>
            </p>
            <p>Piedra- Lo que se utiliza para llevar el tanteo.</p>
            <p>Amarraco- Equivale a 5 piedras.</p>
            <p>Mus- Al empezar cada jugada, se dice Mus para indicar que se quiere descartar cartas.</p>
            <p>Paso- En una jugada, indica que no se quiere envidar o se quiere ver lo que hacen los demas para hacer la jugada propia.</p>
            <p>Envido- Apuesta de 2 piedras.</p>
            <p>Y yo- Es una respuesta a un envite. Es subir la apuesta del envite a 2 piedras más.</p>
            <p>Reenvido- Lo mismo que el anterior.</p>
            <p>Quiero- Es la aceptación de una apuesta del oponente.</p>
            <p>No quiero- No se acepta la apuesta del oponente.</p>
            <p>No queremos- Igual que la anterior salvo que se obliga al compañero en la decisión propia. En el Mus cada compañero actúa de por sí salvo que se pluralice al hablar. Si un jugador dice Quiero, el compañero podrá aceptar o reenvidar, sin embargo
                al decir Queremos o No queremos, obliga al compañero a aceptar su decisión.</p>
            <p>Ordago- Órdago es la palabra clave del Mus. La aceptación de un Ordago por parte del oponente significa que en ese momento y jugada se decide el juego. Da lo mismo el número de piedras que se lleven, cuando un jugador dice Ordago y los oponentes
                Quiero, se levantan las cartas y el que gane, gana la partida.</p>
            <p>Deje o No- Piedra que se gana cuando el oponente no acepta un envite.</p>
            <p>&nbsp;</p>
            <p>
                <strong>Empezando a jugar al Mus</strong>
            </p>
            <p>En la mesa se colocan las cartas y las piedras ( 20 ) en el centro.</p>
            <p>Casi siempre se juega la partida a 3 juegos de 40 tantos cada uno.</p>
            <p>El Mus es una sucesión de 4 jugadas: Grande, Chica, Pares y Juego, consiguiendo piedras hasta ganar la partida.</p>
            <p>El juego consta de 40 piedras. Para tener la cuenta de las piedras de cada pareja, un jugador va apuntando hasta llegar a 5 piedras (Amarraco) y en ese momento, pasa las piedras al centro y da una a su compañero. Es decir, un jugador lleva
                el contaje de las Piedras (1 punto) y otro los Amarracos (5 puntos).</p>
            <p>Una vez los jugadores en la mesa con los compañeros enfrente, se sortea el jugador que da las cartas, este sera el jugador “mano”.</p>
            <p>Una vez que han sido repartidas las cartas, cada jugador las ve y decide si le conviene jugar con ellas o no.</p>
            <p>Empieza el jugador “mano”. Si ve que sus cartas son buenas puede decir “no mus”, que significa que empieza el juego. Si las cartas no le parecen favorables, puede indicar “mus”, lo que significa que desea descartar sus cartas por otras mejores.</p>
            <p>El turno pasa por cada jugador, que deberá decidir si juega con sus cartas o prefiere descartarlas.</p>
            <p>El descarte se inicia si todos los jugadores desean. Con que haya un sólo jugador que diga “no mus”, no será posible descartar y empiezan los lances.</p>
            <p>Se empieza con la jugada de Grande:cada jugador, cuando llega su turno, puede Pasar o Envidar (diciendo envido, significa que apuesta 2 piedras, o envido 3, 4, 5,… las que quiera apostar). Los jugadores de la pareja contraria, podrán aceptar
                diciendo Quiero, declinar la apuesta o aumentar el envite diciendo el número de piedras que se quiere jugar. Los envites, se hacen por compañeros, y una vez que uno de los compañeros envida un número de piedras, el otro no puede cambiar
                el envite salvo que cualquiera de los oponentes lo aumente.</p>
            <p>Una vez terminado el envite, sigue la jugada de Chica en la que se procede exactamente igual que la Grande, empezando por el “mano”.</p>
            <p>La jugada siguiente, Pares, se juega solo entre los que posean Pares. Para saberlo, una vez terminada la jugada de Chica, el “mano” dice si posee pares o no y continúan el resto de jugadores. Los que tengan pares, jugarán la jugada con los
                envites igual que en en las anteriores. Si sólo una pareja tiene pares, se pasa a la jugada de Juego.</p>
            <p>La jugada de Juego, se efectúa igual que la de Pares empezando el “mano” a decir si tiene o no Juego, siguen los demás y se hacen los envites. Si ningún jugador tiene Juego, se sigue con la jugada de Punto en la que todos juegan como en la
                Grande y Chica.</p>
            <p>Terminadas las jugadas, cada uno enseña sus cartas y se verifican las apuestas que han tenido lugar apuntándose cada pareja las piedras que gane de cada apuesta empezando por la Grande, Chica, Pares y Juego o Punto.</p>
            <p>En caso de 2 jugadas iguales, ganará el “mano” o el que más cerca esté de él por su izquierda.</p>
            <p>La pareja que antes llegue a 40 piedras es la que gana la partida. Si al contar los envites una pareja tiene los 40 tantos, gana el juego, aunque contando los envites de jugadas posteriores la otra pareja les gane.</p>
            <p>
                <strong>Las Señas del Mus</strong>
            </p>
            <p>Las señas del Mus tienen un gran papel, ya que es una comunicación con el compañero para decirle, sin palabras, las cartas propias.</p>
            <p>Hay que utilizar señas conocidas por todos para cada una de las jugadas. Las parejas no pueden tener señas propias. Todos juegan con las mismas señas y todos se arriesgan a que sea vista por el oponente, de ahi el riesgo.</p>
            <p>Hay que estar pendiente del oponente, compenetrado con el compañero y listo para no ser visto. Además, cuando a alguien le ven una seña, el compañero, si es hábil sabrá que el oponente se ha dado cuenta y podrá jugar con eso a su favor.</p>
            <p>Las señas del mus son:</p>
            <p>DOS REYES: Morderse labio inferior.
                <br>DOS ASES: Sacar lengua al frente. También se permite arrugar la nariz
                <br>TRES REYES: Torcer los labios, apretados, hacia un lado
                <br>TRES ASES: Sacar lengua hacia un lado.
                <br>MEDIAS: Si no son de Reyes o Ases, inflar un carrillo.
                <br>DUPLES: Elevar las cejas.
                <br>31: Guiña un ojo para indicar que se lleva 31 para juego.
                <br>JUEGO: Sacar los labios, como para un beso, para indicar cualquier juego que no sea 31.
                <br>30 AL PUNTO: Elevar un hombro.</p>
            <p>&nbsp;</p>
            <p>
                <strong>Tanteo del juego</strong>
                <br>Al comenzar a jugar, se colocan en el centro de la mesa las piedras para jugar. La cuantía de las apuestas de cada jugada se tendrán en la mente, para apuntarse al final de cada juego parcial. Los renuncios se apuntan en el acto.</p>
            <p>Al final de cada juego, los jugadores harán la cuenta diciendo cuántas piedras cogen y por qué.</p>
            <p>Cogerán tantas piedras como puntos hayan conseguido en el juego, colocandolas para ver en todo momento las que tiene cada uno.</p>
            <p>Cuando el jugador que lleva la cuenta de las piedras tiene 5, dice: “Amarraco” y su compañero coge una y las otras 4 van al centro.</p>
            <p>Si al final de un juego, una pareja de compañeros ha alcanzado o sobrepasado las 35 piedras, uno de ellos debe decir “Adentro” y se echan todos los amarracos al centro. Esto es para advertir a los jugadores oponentes que se está a punto de
                ganar la partida.</p>
            <p>El valor de las jugadas, por el orden que han de cobrarse son:</p>
            <p>El no o deje 1 piedra
                <br>La Grande en paso 1 piedra
                <br>La Chica en paso 1 piedra
                <br>El Par 1 piedra
                <br>Las Medias 2 piedras
                <br>Los Duples 3 piedras
                <br>Juego de 31 3 piedras
                <br>Los demás juegos 2 piedras
                <br>Juego no o punto 1 piedra</p>
            <p>Si a una pareja le faltan pocas piedras para ganar, hay que tener cuidado con los envites y Órdagos y recordar que lo primero que se cobra es el “No”.</p>
            <p>&nbsp;</p>
            <p>
                <strong>El cobro de las jugadas:</strong>
            </p>
            <p>-Grande y Chica. Si todos pasan, sin que nadie envide, el jugador que mejor jugada tenga a Grande gana 1 piedra, y el jugador que más jugada tenga a Chica, se llevará otra. Pero si un jugador envida y nadie acepta su envite, se llevará en
                el acto una piedra en concepto
                <br>de “No” aceptación del envite, dándose por cobrada la jugada.</p>
            <p>– Pares y Juego sí. Si todos los jugadores pasan sin que nadie envide, el jugador que mejor jugada tenga se llevará el valor de la misma, añadiendo las piedras que por estas jugadas le puedan corresponder también a su compañero.</p>
            <p>Si un jugador envida y nadie acepta su envite, se lleva en el acto 1 piedra por “deje”, pero al final del juego parcial se llevará también el valor de su jugada, más el valor de la de su compañero, aunque sus cartas fueran peores que las de
                otro jugador oponente.</p>
            <p>– Juego no. Si todos pasan, el que tenga mejor punto se llevará 1 piedra. Si un jugador envida al punto y nadie acepta, se lleva en el acto una piedra del “No” y cobrará otra de punto al final, aun cuando fuera inferior al de otro jugador.</p>
            <p>El que renuncia a un envite, pierde el derecho al cobro de la jugada, aun cuando las cartas, al final del juego parcial, se viera que era mejor su jugada.</p>
            <p>En cualquiera de las jugadas, ganan las cartas del compañero que las tenga mejores aun cuando el que hubiera envidado o dado el Órdago las tuviera peores que el oponente que aceptó.</p>
            <p>Al que se le olvide llevarse una piedra, pierde el derecho a ella en el instante que se cortan las cartas para el siguiente juego.</p>
        </div>
    </ion-content>
</ion-view>