<?xml version="1.0" encoding="utf-8"?><!--
  ~  Copyright (c) 2024 David Población.
  ~
  ~  This file is part of ContadorMus.
  ~
  ~  ContadorMus is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~  the Free Software Foundation, either version 3 of the License, or
  ~  (at your option) any later version.
  ~
  ~  ContadorMus is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with ContadorMus.  If not, see <https://www.gnu.org/licenses/>.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5762813557394962~7017957583" />
        <!--        android:value="ca-app-pub-3940256099942544~3347511713" /> &lt;!&ndash; Sample AdMob app ID &ndash;&gt;-->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManoActivity"
            android:label="@string/title_activity_mano"
            android:parentActivityName=".InfoPartidaActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.davidpob99.ContadorMus.InfoPartidaActivity" />
        </activity>
        <activity
            android:name=".NuevoActivity"
            android:label="@string/title_activity_nuevo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.davidpob99.ContadorMus.MainActivity" />
        </activity>
        <activity
            android:name=".InfoPartidaActivity"
            android:label="@string/title_activity_info_partida"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.davidpob99.ContadorMus.MainActivity" />
        </activity>
        <activity
            android:name=".TextoActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.davidpob99.ContadorMus.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/action_about"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.davidpob99.ContadorMus.MainActivity" />
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="@string/title_activity_intro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContadorActivity"
            android:label="Contador Clásico">

        </activity>
    </application>

</manifest>